/* Footer Styles */
.footer {
  position: relative;
  padding: 10px 10px;
  background: linear-gradient(270deg, #94e6f5, #b8b6f5, #f4b9ed, #f6e6b3);
  color: #170664;
  overflow: hidden;
}

/* Footer Flexbox Layout */
.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Aligns items to the top */
  max-width: 1200px;
  margin: 0 auto;
}

/* Contact Section */
.contact {
  flex: 1;
  text-align: left;
  padding-right: 20px;
  
}

.contact h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.contact p {
  font-size: 0.9rem;
  margin: 10px 0;
}

/* Quick Links Section */
.quickLinks {
  flex: 1;
  text-align: center;
}

.quickLinks h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.quickLinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quickLinks li {
  margin-bottom: 7px;
}

.quickLinks a {
  text-decoration: none;
  color: #131111;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.quickLinks a:hover {
  color: #0ebbdd;
}

/* Social Links Section */
.socialLinks {
  flex: 1;
  text-align: center;
  padding-left: 30px;
}

.socialLinks h3 {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.socialLinks a {
  font-size: 1.5rem;
  color: #2d0a69;
  margin-right: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.socialLinks a:hover {
  transform: scale(1.1);
  color: #1e031b;
}

/* Copyright Section */
.copy {
  margin-top: 30px;
  text-align: center;
  font-size: 0.85rem;
  color: #fff;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact,
  .quickLinks,
  .socialLinks {
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
  }

  .socialLinks a {
    margin: 5px;
  }
}
